
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Data artifacts (Git'e atilmaz)
data/raw/*
data/links/*
data/logs/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.pkl
mlruns/

# IDE
.vscode/
.idea/

# Environment variables
.env
.venv/

# Airflow
logs/*
!logs/.gitkeep
!dags/.gitkeep
!plugins/.gitkeep

# macOS
.DS_Store